.footer {
    background-color: #363A43;
    color: white;
    text-align: center;
    padding: 15px 0;
    position: static; /* ✅ 화면 아래 고정 */
    bottom: 0;
    width: 100%;
    min-height: 60px;
    font-size: 14px;
}
